body {
    background-color:lavender;
    
}

a {
    text-decoration: none;
}

a:hover {
    color:rgb(135, 132, 155);
}


.heading_of_page a {
    margin: 30px;
    color:rgb(209, 214, 219);
    letter-spacing: 4px;

}

header {
    position: relative;
    color:rgb(209, 214, 219);
    padding: 0 40px;


}

.heading_of_page {
    background-color: rgb(134, 144, 174);
    width: page;
    padding: 10px 10px;
}

.heading_of_page nav {
    position: relative;
    top: -10px;
    padding: 0% 2%;
}

.icon_in_heading {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 92%;
    top: 20px;
    opacity: 0.6;
}
  
.my_image#num1 {
    position: absolute;
    top: 20%;
    left: 2%;
    width: 450px;
}


.page_text {
    font-family:'Times New Roman', Times, serif;
    color: rgb(105, 113, 136);
    position: absolute;
    font-size: 20px;
}

.page_text#txt1 {
    top: 65%;
    font-weight:bold;
    left:3%;
    font-size: 25px;
}

.page_text#txt2 {
    top: 68%;
    font-weight:bold;
    left:3%;
    font-size: 25px;
}

.page_text#txt3 {
    top: 72%;
    font-weight:bold;
    left:3%;
    font-size: 25px;
}

.page_text#txt4 {
    top: 76%;
    font-weight:bold;
    left:3%;
    font-size: 25px;
}

.page_text#txt5 {
    top: 80%;
    font-weight:bold;
    left:3%;
    font-size: 25px;
}

.heading_text {
    font-family:'Times New Roman', Times, serif;
    color: rgb(105, 113, 136);
    position: absolute;
    font-size: 23px;
    font-size: 30px;
}

.heading_text#aboutme {
    top:20%;
    left:35%;
}

.page_text#txtabme {
    display: flex;
    top: 27%;
    left: 35%;
    padding: 20px;
    max-width: 350px;
    margin: 0 auto;
}

.page_text#txtabme1 {
    display: flex;
    top: 30%;
    left: 35%;
    padding: 20px;
    max-width: 350px;
    margin: 0 auto;
}

.heading_text#skills {
    top:48%;
    left:35%;
}

.page_text#sklist {
    position: absolute;
    top: 56.5%;
    left: 36.5%;
}

.heading_text#prj {
    position: absolute;
    top: 20%;
    left: 67%;
  }

  .page_text#projects {
    top: 29%;
    left: 67.5%;
  }
